body {


}

#navigation {
  max-width: 1200px;
  margin-left: 0 auto 0 auto;
  padding: 0 1em 0 1em;
}

#navigation ul {
  display: inline-block;
  list-style: none;
}

#header {
  max-width: 960px;
  margin-left: 0 auto 0 auto;
  padding: 0 1em 0 1em;
}


#content {
  max-width: 960px;
  margin-left: 0 auto 0 auto;
  padding: 0 1em 0 1em;
}

#footer {
  max-width: 1200px;
  margin-left: 0 auto 0 auto;
  padding: 0 1em 0 1em;
}

.horizontal-center {
  text-align: center;
}
