body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

#navigation {
  max-width: 1200px;
  margin: 0px auto 0px auto;
  padding: 0px 1em 0px 1em;
  height: 60px;
}

#navigation ul {
  display: inline-block;
  list-style: none;
  list-style-type: none;
}
#navigation li {
  float: left;
}
#navigation li a {
  display: block;
  padding: 1em 2em;
  text-decoration: none;
}
#navigation li a:hover {
  font-weight: bold;
}
#navigation li a .active {
  font-weight: bold;
}
#logo {
  width: 60px;
}

#header {
  max-width: 960px;
  margin: 0px auto 0px auto;
  padding: 0px 1em 0px 1em;
  height: 220px;
}


#content {
  max-width: 960px;
  margin: 0px auto 0px auto;
  padding: 0px 1em 0px 1em;
}

#footer {
  max-width: 1200px;
  margin: 0px auto 0px auto;
  padding: 0px 1em 0px 1em;
  height: 60px;
}

.horizontal-center {
  text-align: center;
}
