body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Lato;
  color: rgb(0, 0, 0);
}

.container {
  float: left;
  width: 100%;
  height: 116px;
}

.logo {
  display: block;
  float: left;
  width: 78px;
  height: auto;
  overflow: hidden;
}

.menu {
  float: left;
  width: 83%;
  height: 59px;
  margin: 1px 0 0 8.5%;
}

.search {
  float: left;
  height: 42px;
}

.search .search {
  position: relative;
  z-index: 9;
  width: 100%;
  border: 1px solid rgb(23, 171, 105);
}

.search .text {
  position: relative;
  clear: both;
  z-index: 10;
  width: 77.0408163265%;
  min-height: 26px;
  margin: -32px 0 0 3.4013605442%;
  color: rgb(23, 171, 105);
}

.text {
  float: left;
  font-size: 1em;
}

.title {
  float: left;
  clear: both;
  width: 83%;
  height: 132px;
  margin: 70px 0 0 8.5%;
}

.topic {
  float: left;
  width: 48.7951807228%;
  height: 116px;
}

.topic .text {
  width: 100%;
  color: rgb(0, 0, 0);
}

.topics {
  float: left;
  clear: both;
  width: 83%;
  height: 253px;
  margin: 27px 0 0 8.5%;
}

.menu ._text {
  float: left;
  margin-top: 24px;
  font-size: 1em;
  line-height: 1.5;
}

.title ._text {
  float: left;
  color: rgb(23, 171, 105);
}

.container-2 {
  clear: both;
  margin-top: 21px;
}

.search-1 {
  clear: both;
  width: 49%;
  margin: 70px 0 0 8.5%;
}

.text-2,
.text-4,
.text-6,
.text-8 {
  text-decoration: underline;
}

.text-3,
.text-5,
.text-7,
.text-9 {
  clear: both;
  margin-top: 6px;
}

.topic-2,
.topic-4 {
  margin-left: 2.40964%;
}

.menu ._text-1 {
  width: 17.8571428571%;
  margin-left: 2.37513%;
  color: rgb(255, 56, 71);
}

.menu ._text-2 {
  width: 18.0722891566%;
  margin-left: 2.65751%;
  color: rgb(0, 0, 0);
}

.menu ._text-3 {
  width: 28.313253012%;
  margin-left: 2.41121%;
  color: rgb(0, 0, 0);
}

.menu ._text-4 {
  width: 10.2409638554%;
  margin-left: 2.41121%;
  color: rgb(0, 0, 0);
}

.title ._text-5 {
  width: 58.024691358%;
  font-size: 2.188em;
  font-weight: 900;
}

.title ._text-6 {
  clear: both;
  width: 100%;
  margin-top: 12px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
}

._text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

._text-1 strong,
._text-2 strong,
._text-3 strong,
._text-4 strong {
  font-style: inherit;
  font-weight: 900;
}

._text-5 strong {
  font-style: inherit;
  font-weight: inherit;
}

._text-6 strong {
  font-style: normal;
  font-weight: 900;
}