/*********************************************************************
for styling only

*********************************************************************/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');



/*----------------------- Color Variables ------------------------------ */

:root {
  --main-base: #262626;
  --main-light: #666666;
  --main-ultralight: #EEEEEE;
  --main-dark: #000;
  --aggro-base: #E33030;
  --aggro-light: #f76d6d;
  --aggro-dark: #802a2a;
  --kind-base: #278f94;
  --kind-light: #8bc7cc;
  --kind-dark: #1a5b61;
}

/*----------------------- General ------------------------------ */

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 1em;
  /* font-weight: 400; */
  color: #262626;
  line-height: 1.2em;
}
/*h1, h2, h3, h4, h5, h6 {
  margin: 2em 0 1em 0;
}*/
p + p {
  margin-top: 1em;
}
/*p:last-child {
  margin-bottom: 1em;
}*/
p {
  font-weight: 400;
}
#content a, a:visited {
  color: #278f94;
}
#content a:hover {
  color: #1a5b61;
}

b, optgroup, strong {
  font-weight: 900;
}

h1, h2, h3 {
  font-size: 2em;
  line-height: normal;
  font-weight: 300;
}
h4, h5, h6 {
  font-size: 1em;
  line-height: normal;
  font-weight: 900;
}
ul, ol {
  margin-left: 1.25em;
}

/*----------------------- Navigation ------------------------------ */

#navigation, #navigation ul li, #navigation a {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  font-weight: 300;
  color: #262626;
  line-height: 1.8em;
}

#navigation .nav-title {
  color: #E33030;
}

#navigation .active {
  font-weight: 900;
}

#navigation .nav-pages a:hover {
  color: #000;
  text-decoration: underline;
}

/*----------------------- Content ------------------------------ */

[class*="col"] .border {
  padding: 0.5em;
  height: 100%;
  border: 2px solid #E33030;
}

#content h4, #content h5, #content h6 {
  margin: 2em 0 1em 0;

}

/*----------------------- Footer ------------------------------ */

#footer {
  font-weight: 300;
  color: #E33030;
}

/*----------------------- Secondary Elements ------------------------------ */
code {
  color: #262626;
}

pre {
  overflow: auto;
  margin: 1em 0;
  padding: 0 1em;
  background-color: #EEEEEE;
}

p code {
  /*padding: 0.2em 0.4em;*/
  white-space: nowrap;
  font-size: 90%;
  background-color: #EEEEEE;
}

hr {
  box-sizing: content-box;
  height: 2px;
  color: #262626;
}
