/*********************************************************************
for proper placement of the elements
but not their styling
*********************************************************************/


/*----------------------- Reset ------------------------------ */

* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

 /*----------------------- Navigation ------------------------------ */

#navigation {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5em 1em 0 1em;
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

}

#navigation .nav-pages {
  margin-left: auto;
  text-align: right;
}

.nav-title div {
  display: inline-block;
}

#logo {
  width: 2em;
  vertical-align: middle;

}


/*pages dropdown inactive on mobile per default*/
#show-pages {
  display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #show-pages {
    display: block;
}

/*Arrangement on larger displays*/

@media screen and (min-width: 50em) {
  #show-pages {
    display: inline-block;
  }
  .nav-toggle {
    display: none;
  }
  #navigation .nav-pages {
    margin-left: 0;
    flex-grow: 1;
    text-align: left;
  }
  #show-pages {
    width: 100%;
    margin-left: 1em;
  }
  #show-pages li {
    display: inline-block;
    padding: 0 0.5em;
  }
  #navigation .nav-right {
    float: right;
    text-align: right;
  }
}

/*----------------------- Header ------------------------------ */


#header {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em 1em;
}

/*----------------------- Content ------------------------------ */

#content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em;
}

/*----------------------- Flexboxes ------------------------------ */

/*
replaced with the http://www.meetsally.com based main-grid.css

@media screen and (min-width: 50em) {
  .box-horizontal {
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
  }
}

  .box-horizontal {
    padding-top: 1em;
  }
  .box-horizontal p {
    margin-top: 0;
  }

  .even {
    flex: 1 1 0;
  }


  .even.border {
    margin: 1em 1em 0 1em;
    padding: 0.5em;
    border: 2px solid #E33030;
  }
  .box-horizontal.border .even {
    margin: 0.5em;
  }*/



/*----------------------- Footer ------------------------------ */

#footer {
  max-width: 1200px;
  margin: 4em auto 0 auto;
  padding: 0 1em;
  height: 60px;
}
#footer p {
  text-align: center;
}

/*----------------------- Articles ------------------------------ */


/* works for col-xx-4 = 33.333% */
/*.square {
  height: 0;
  width: 33.333%;
  padding-bottom: 33.333%;
}
*/

.square {
  height: auto;
}

.square:before {
  content: '';
  display: table;
  float: left;
  padding-top: 100%;
}

.square > div {
  height: 100%;
  padding: 2em;
  margin-bottom: auto;
}

.article-thumbnail {
  position: relative;
  padding: 6em 0;
}

.article-thumbnail h4 {
  text-align: center;
  margin: 0 auto;
}

.article-thumbnail a span {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;
}

/*----------------------- Additional ------------------------------ */

.horizontal-center {
  text-align: center;
}
.horizontal-right {
  text-align: right;
}
