/*********************************************************************
for proper placement of the elements
but not their styling
*********************************************************************/

body {
  /* font-family: 'Lato', Arial, Helvetica, sans-serif; */
  margin: 0;
  padding: 0;
}


 /*----------------------- Navigation ------------------------------ */

#navigation {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
  height: 60px;
}

#navigation ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#navigation li {
  float: left;
}
#navigation li a {
  display: inline-block;
  text-align: center;
  padding: 1em 1.5em;
}
#logo {
  width: 60px;
}

/*----------------------- Header ------------------------------ */


#header {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em 1em;
}

/*----------------------- Content ------------------------------ */

#content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em;
}

/*----------------------- Footer ------------------------------ */

#footer {
  max-width: 1200px;
  margin: 4em auto 0 auto;
  padding: 0 1em;
  height: 60px;
}
#footer p {
  text-align: center;
}

/*----------------------- Additional ------------------------------ */

.horizontal-center {
  text-align: center;
}
