@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

/*----------------------- General ------------------------------ */


body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #262626;
}
p {
  line-height: 1.5em;
}
a, a:visited {
  color: #666666;
}
a:hover {
  color: #000;
}

b, optgroup, strong {
  font-weight: 900;
}

h1, h2, h3 {
  font-size: 2em;
  font-weight: 300;
}
h4, h5, h6 {
  font-size: 1em;
  font-weight: 900;
}

/*----------------------- Color ------------------------------ */
#navigation li a.site-title, #navigation li a.site-title:hover {
  color: #E33030;
  text-decoration: none;
}
#navigation li a {
  color: #262626;
  font-weight: 300;
  text-decoration: none;
}
#navigation li a.active {
  color: #262626;
  font-weight: 900;
  text-decoration: none;
}
#navigation li a:hover {
  color: #000;
  text-decoration: underline;
}
#footer {
  font-weight: 300;
  color: #E33030;
}

/*----------------------- Code Block ------------------------------ */
code {
  color: #262626;
}

pre {
  padding: 1em;
  border: 1px solid #000;
  background-color: #EEEEEE;
}

p code {
  padding: 0.2em 0.4em;
  white-space: nowrap;
  font-size: 90%;
  background-color: #EEEEEE;
}
