<img class="logo" src="{{ url('theme://images/logo.png') }}">
<p class="_text _text-1">{{ config.site.title }}</p>


{% for page in pages.children.visible %}
  <a class="_text _text-1" href="{{ page.url }}">{{ page.menu }}</a>
{% endfor %}


{#
<p class="_text _text-2">ABOUT US</p>
<p class="_text _text-3">VISIT OUR ROUND TABLE</p>
<p class="_text _text-4">SEARCH</p>
#}
