{% extends 'partials/base.html.twig' %}




{% block content %}
  <div class="search">
    <p>Search our Knowledge Base ...</p>
  </div>

  {% for p in page.collection %}
    <h2 class"topics">{{ p.title }}</h2>
    {{ p.summary }}
  {% endfor %}
{% endblock %}
