{% extends 'partials/base.html.twig' %}




{% block content %}
  <div class="search search-1 clearfix">
    <div class="search"></div>
    <p class="text _text">Search our Knowledge Base ...</p>
  </div>

  {% for p in page.collection %}
    <h2 class"topics">{{ p.title }}</h2>
    {{ p.summary }}
  {% endfor %}
{% endblock %}
