{% extends 'partials/base.html.twig' %}

{% block content %}

{{ page.content }}
<div class="row">
	{% for article in page.collection %}
	<div class="col-xs-12 col-md-6">
		<div class="border"><div class="article-thumbnail">
			<a href=" {{ article.url }}"><span></span></a>
			<h4>{{ article.title }}</h4>
		</div></div>
	</div>
	{% endfor %}
</div>

<div class="row">
	<div class="col-xs-6">
		older
	</div>
	<div class="col-xs-6 align-right">
		newer
	</div>
</div>

{% endblock %}
